<%- include('./_header.ejs') %>

<h1>New Record</h1>

<form action="/newRecord" method="POST">

    <div>
        <label>game name</label>
        <input type="text" id="game_name" name="game_name" required>
    </div>
    <button type="submit">Select Game</button>
</form>